/* Global styles
-------------------------*/
body{
    font-family: 'Gentium Basic', serif;
    margin: auto;
    width:100%;
}
h1, h2 {
    font-family: 'Eczar', serif;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
a {
    color: #C2948A;
}
a:hover {
    text-decoration: none;
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
/* Header and Footer
------------------------*/
header,footer {
    background-color: #28536B;
    color: #F6F0ED;
}
header h1, header h2 {
    color: #7EA8BE;
    margin: 0;
}
.profile-img{
    width: 300px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}
footer{
    text-align: center;
    }
.contact-info a{
   padding: 10px;
   display: inline-block;
}

/* Work and Experience
------------------------*/
.work {
    background-color: #7EA8BE;
}

/* Education
------------------------*/
.education {
    background-color: #BBB193;
}

/* Media queries
------------------------*/
@media (min-width: 900px) {

}

@media (max-width: 899px) {
    header {
        text-align: center;
    }
    .profile-img {
        width: 200px;
    }
}